<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!--proveedor-->
<div class="col-md-6">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">añade un nuevo proveedor</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form>
        <div class="card-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="inputNombre"
              placeholder="Nombre o razon social"
            />
          </div>
          <div class="form-group">
            <label for="NIT">NIT</label>
            <input
              type="text"
              class="form-control"
              id="InputNit"
              placeholder="NIT de tu proveedor"
            />
          </div>
          <div class="form-group">
            <label for="Direccion">Ubicacion</label>
            <input
              type="text"
              class="form-control"
              id="InputDir"
              placeholder="Direccion"
            />
          </div>
          <div class="form-group">
            <label for="telefono">Numero</label>
            <input
              type="text"
              class="form-control"
              id="NumeroProveedor"
              placeholder="Contacto Proveedor"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email"
            />
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <!-- /.card -->
  </div>
  <!--/.proveedor-->
  
  <!-- pedido -->
  <div class="col-md-6">
      <div class="card card-success">
          <div class="card-header">
               <h3 class="card-title">Detalles Pedido</h3>
               
          </div>
          <form>
                   <div class="card-body">
                       <div class="form-group">
                           <label for="valorPedido">Valor pedido</label>
                           <input type="text"
                           class="form-control"
                           placeholder="el valor de tu pedido">
                       </div>
                   </div>
               </form>
          
      </div>
  </div>
  <!-- /.pedido -->
      </div>
    </div>
  </section>



  





